*{
    margin: 0;
    padding: 0;
}

html, body{

    width: 100%;

}

.centro{

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background: rgb(1, 0, 29);
    color: rgb(255, 102, 0);

}

.linea{

    width: 90%;

    margin: 10px;

    display: flex;
    flex-wrap: wrap;
    text-align: center;    
    align-items: center;

}

.etiqueta{
        
    display: inline-block;
    flex-wrap:nowrap;

}

h2{

    width: 100%;
    margin: 10px;

}

input{

    width: 100%;
    height: 25px;

    margin: auto;

}

input[type="email"]:valid{
    border: 3px solid;
    border-color: rgb(0, 165, 0);
}

input[type="email"]:invalid{
    border: 3px solid;
    border-color: red;
}

input[type="radio"], input[type="checkbox"]{

    width: 0px;
    height: 0px;

}

label{

    width: 50%;

    margin: 0;
    
}

form{

    height: 25px;
    margin: auto;
    
}

.naranja{

    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgb(255, 102, 0);
    color: white;
    
}

button{
    
    width: 40%;
    height: 5em;

    margin: 1%;
    
    color: white;
}

.submit{

    background: rgb(29, 190, 15);

}

.cancel{

    background: red;

}